body{background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-restaurant-table-window-green-plant-cartoon-background-tablewindowgreenplantcartoonbackground-image_60063.jpg);
}

#titleSpace {
	max-width: 400px;
	max-height: 150px;
	margin:auto;
	float: top;
}

#title {
	font-family: Arial;
	font-size: 50px;
	text-align: center ;
	color: #b84600;
}

#iinputSpace {
	width: 200px;
	height: 80px;
	margin:auto;
}
#Mmoney {
	font-size: 30px;
	margin:auto;
	color:#b84600;
}

#iinput {
	width: 200px;
	height: 50px;
	float: left;
	margin:auto;
	border-color: #fc9438;
	border-width: 5px;
	background-color: #e8bd58;
}

#ttipSpace {
	height:100px;
	width: 200px;
	margin: auto;
}

#ttip {
	font-size: 20px;
	width: 200px;
	margin: auto;
	color:#b84600;	
}

#TIP {
	width: 200px;
	height: 20px;
	float: left;
	margin: auto;
	border-color: #fc9438;
	border-width: 5px;
	background-color: #e8bd58;
}
#buttons {
	max-width: 150px;
	max-height:200px;
	margin:auto;
}

.buttin {
width: 50px;
height: 50px;
float: left;
border-color: #fc9438;
border-width: 5px;
background-color: #e8bd58;
color: #ff00fb;
}
.buttin:active {
	 transform: translateY(4px);
}
#totalSpace {
	width: 200px;
	height:100px;
	margin: auto;
}
#total {
	font-size: 50px;
	text-align: center;
	color: #b84600;
}